<p>employee works!</p>
<label for="">Name:</label>
<input type="text" [(ngModel)] = "name">
<br>
<label for="">Experiance:</label>
<input type="text" [(ngModel)] = "experience">
<br>
<label for="">Package</label>
<input type="text"[(ngModel)] = "package">
<br>
<label for="">Role</label>
<input type="text" [(ngModel)] = "emprole">
<br>
<button class="btn btn-primary" (click)="add()">ADD Employee</button>
<input class ="form-control w-25" type="text" placeholder="Search Name" [(ngModel)]="term" (keyup)="search()">
<select class ="form-control w-50" [(ngModel)] = "role" (change) ="rolefilter()"  name="" id="">

    <option >UIDeveloper</option>
    <option >Data engineer</option>
    <option >Software Developer</option>
    <option >Testing Engineer</option>
</select>
<button (click)="bonus()" class="btn btn-info">50K Bonus</button>
<button (click)="hike()" class="btn btn-info">HIKE</button>
<button (click)="total()" class="btn btn-info">Monthly Salaries</button>
<button (click)="packagehl()"  class="btn btn-warning">Package order</button>
<button (click)="packagelh()"  class="btn btn-warning">Package Reduce</button>
<table class="table table-dark">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Experiance</th>
            <th>Package</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i = index">
            <td>{{i+1}}</td>
            <td [ngClass] = "{'bg-danger': employee.package<1000000 , 'text-success': employee.package>=1000000}">{{employee.name | uppercase}}</td>
            <td>{{employee.experience}}</td>
            <td>{{employee.package}}</td>
            <td>{{employee.role}}</td>
            <td>
                <!-- <button (click)="delete(i)" class="'btn btn-danger">Delete</button> -->
                <!-- IF Condition -->
                <button *ngIf = "employee.package>500000"    (click)="delete(i)" class="'btn btn-danger">Delete</button>

            </td>
        </tr>
    </tbody>
</table>
