<div class="container">
    <div class="top">
        <h1>Body Mass Index(BMI) Calculator</h1>
    </div>
    <div class="bottom">
        <div class="left">
            <div class="height">
                <label for="">Height:</label>
                <input type="number" [(ngModel)] = 'height'>
                <label for="" class="units">cm</label>
            </div>
            <div class="height">
                <label for="">Weight:</label>
                <input type="number" [(ngModel)] = 'weight'>
                <label for="" class="units">kg</label>
            </div>
            <button class="calculate" (click)="Calculate()">Calculate</button>
            <div>
            <label for="">Result: </label>
            <label for="" id="result">{{result}}</label>
            </div>

        </div>
        <div class="right">
            <img src="/assets/bmi.jpg"  class="img" height="90%" width="90%">
        </div>
    </div>
</div>
