<p>createvehicle works!</p>
<form [formGroup]="vehicleForm">
    <label for="">Vechicle:</label>
    <input type="text" formControlName="Vehicle">
    <br>
    <br>
    <label for="">Manufacturer:</label>
    <input type="text" formControlName="manufacturer">
    <br>
    <br>
    <label for="">Model:</label>
    <input type="text" formControlName="model">
    <br>
    <br>
    <label for="">Type:</label>
    <input type="text" formControlName="type">
    <br>
    <br>
    <label for="">Fuel:</label>
    <input type="text" formControlName="fuel">
    <br>
    <br>
    <label for="">Color:</label>
    <input type="text" formControlName="color">
    <br>
    <br>
    <label for="">Image:</label>
    <input type="text" formControlName="image">
    <br>
    <br>
    <label for="">Cost:</label>
    <input type="text" formControlName="cost">
    <br>
    <br>
    <button (click)="submit()" class="btn btn-warning">Submit</button>
</form>
