<p>createuser works!</p>
<form [formGroup]="userForm">
    <label for="">Name:</label>
    <input type="text" formControlName="name" appCapital>
    <div *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
     <p class="error" *ngIf="userForm.get('name')?.errors?.['required']">Name is required</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['minlength']">Min 3 Charecters</p>
        <p class="error" *ngIf="userForm.get('name')?.errors?.['maxlength']">Max 10 Charecters</p>
    </div>
    <br>
    <label for="">Age:</label>
    <input type="text" formControlName="age">
    <div *ngIf="userForm.get('age')?.touched && userForm.get('age')?.invalid">
        <p class="error" *ngIf="userForm.get('age')?.errors?.['required']">Age is required</p>
        <p class="error" *ngIf="userForm.get('age')?.errors?.['min']">Min 18 Yeras</p>
        <p class="error" *ngIf="userForm.get('age')?.errors?.['max']">Max 60 Yeras</p>
    </div>

    <br>
    <label for="">Email:</label>
    <input type="text" formControlName="email">
    <div *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid">
        <p class="error" *ngIf="userForm.get('email')?.errors?.['required']">email is Required</p>
        <p class="error" *ngIf="userForm.get('email')?.errors?.['email']">Invalid email Format</p>
        <p class="error" *ngIf="userForm.get('email')?.errors?.['capgeminiMail']">onlycapgemini Mail Accepted</p>
        <br>
        </div>

    <br>
    <label for="">Phone:</label>
    <input type="text" formControlName="phone">
    <br>
    <div formGroupName="address">
        <label for="">City:</label>
        <input type="text" formControlName="city">
        <br>

        <label for="">Pin:</label>
        <input type="number" formControlName="pin">
        
    </div>
    <div>
        <label for="">Type:</label>
        <input type="radio" name="type" formControlName="type" value="dayScholor">
        <label for="">DayScholor</label>
        <input type="radio" name="type" formControlName="type" value="rseidential">
        <label for="">Residential</label>
        <br>
        <div *ngIf="userForm.get('type')?.value =='dayScholor'">
            <label for="">Bus Fee:</label>
            <input type="number" formControlName="busFee">
            <br>
        </div>
        <div *ngIf="userForm.get('type')?.value == 'rseidential'">
            <label for="">Hostel Fee:</label>
            <input type="number" formControlName="hostelFee">
            <br>
        </div>

        <label for="">Cards:</label>
        <button (click)="addCard()">Add Card</button>
        <br>
        <br>

    </div>
    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls;let i=index">
            <div formGroupName="{{i}}">
                <h2>card{{i+1}}</h2>
                <label for="">Nmuber:</label>
                <input type="number" formControlName="number">
                <br>
                <label for="">Expiry:</label>
                <input type="month" formControlName="expiry">
                <br>
                <label for="">CVV:</label>
                <input type="number" formControlName="cvv">
                <br>

                <button class="btn btn-danger" (click)="delete(i)">Delete</button>

                <hr>



            </div>
        </div>
    </div>
    <button (click)="submit()" class="btn btn-warning">Submit</button>
    
</form>
<!-- <video src="https://www.youtube.com/watch?v=Uogp2DhYxeY", controls, height="500px" width="500px"></video> -->
<!-- <iframe  controls width="500" height="500" src="https://www.youtube.com/embed/Uogp2DhYxeY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
<!-- <iframe height="500px" width="500px" src="https://www.youtube.com/watch?v=Uogp2DhYxeY"   frameborder="0"></iframe> -->
