.maincontainer{
    height: 40%;
    width: 40%;
    margin: 0px;
    /* display: flex; */
}
.card{
    height: 90%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    margin:  20px;
    margin-left: 20px;
}
.top{
    background-color: lightcoral;
    height: 10%;
    width: 100%;
     border-top-right-radius: 10px;
     border-top-left-radius: 10px;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.middle{
    background-color: lightgreen;
    height: 80%;
    width: 100%;
    display: flex;
}
.left{
    height: 100%;
    width: 70%;
}
.right{
    height: 100%;
    width: 30%;
    background-color: aliceblue;
}

.bottom{
    background-color: red;
    height: 10%;
    width: 100%;
     border-bottom-right-radius: 10px;
     border-bottom-left-radius: 10px;
     display: flex;
     flex-direction: column;

}
.btop{
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sub{
    color: white;
    font-size: 10px;
}
.bdown{
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;

}
.view{
    width: 20%;
}
.edit{
    width: 20%;
}
.delete{
    width: 20%;
}
.master{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.head{
    width: 40%;
    height: 80%;
}
.pawan{
    width: 100%;
    height: 100%;
}
