<h1>Students</h1>
<!-- Search BAR -->
<input type="text" [(ngModel)]="term" (keyup)="filter()">
<!-- Column Select -->
<select [(ngModel)] = "column" >
    <option >name</option>
    <option >phone</option>
    <option >city</option>
    <option >dob</option>
    <option >email</option>
</select>
<!-- Ascending & Desending -->
 <select [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
 </select>
 <button (click)="sort()">Sort</button>
<div class="master">  
    <div class="maincontainer" *ngFor="let student of students">
        <div class="card">
            <div class="top">
                <img  class="head"src="{{student.school_logo}}" alt="" height="40%" width="40%">
                <h4>{{student.school_name}}</h4>
            </div>
            <div class="middle">
                <div class="left">
                    <label for="">Name:</label>
                    <label for="">{{student.name}}</label>
                    <br>
                    <label for="">Phone:</label>
                    <label for="">{{student.phone}}</label>
                    <br>
                    <label for="">City:</label>
                    <label for="">{{student.city}}</label>
                    <br>
                    <label for="">DoB:</label>
                    <label for="">{{student.dob}}</label>
                    <br>
                    <label for="">Email:</label>
                    <label for="">{{student.email}}</label>
                    <br>
                </div>
                <div class="right">
                    <img  class="pawan"src="{{student.profile_picture}}" alt="" height="50px" width="50px">
                </div>
            </div>
            <div class="bottom">
                <div class="btop">
                    <h5 class="sub">School City:{{student.school_city}}</h5>
                    <h5 class="sub"> School Pin:{{student.school_pin}}</h5>
                </div>
                <div class="bdown">
                    <button class="btn btn-warning view">View</button>
                    <button class="btn btn-primary edit">Edit</button>
                    <button class="btn btn-danger delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>