<div class="parent">
    <div class="left">
        <h1 class="head">My website</h1>
        <hr>
        <h3 class="dashboard-items">Home</h3>
        <h3 class="dashboard-items" routerLink="welcome">Welcome</h3>
        <h3 class="dashboard-items" routerLink="bank">Bank Accounts</h3>
        <h3 class="dashboard-items" routerLink="createbank">Create Bank</h3>
        <h3 class="dashboard-items" routerLink="application">Application</h3>
        <h3 class="dashboard-items" routerLink="student">Student</h3>
        <h3 class="dashboard-items" routerLink="createstudent">Create Student</h3>
        <h3 class="dashboard-items" routerLink="marks">Marks</h3>
        <h3 class="dashboard-items" routerLink="databinding">Data Binding</h3>
        <h3 class="dashboard-items" routerLink="directives">Directives</h3>
        <h3 class="dashboard-items" routerLink="movie">Movie</h3>
        <h3 class="dashboard-items" routerLink="hobbies">Hobbies</h3>
        <h3 class="dashboard-items" routerLink="createvehicle">Create Vehicle</h3>
        <h3 class="dashboard-items" routerLink="createuser">Create User</h3>
        <h3 class="dashboard-items" routerLink="eventregistration">Event</h3>
        <h3 class="dashboard-items" routerLink="empolyees">Staff</h3>
        <h3 class="dashboard-items" routerLink="mail">Mail</h3>
        <h3 class="dashboard-items" routerLink="pokemon">Pokemon</h3>
        <h3 class="dashboard-items" routerLink="weather">Weather</h3>
        <h3 class="dashboard-items" routerLink="photos">Photos</h3>
        <h3 class="dashboard-items" routerLink="employee">empolyee</h3>
        <h3 class="dashboard-items" routerLink="employee">employee</h3>
        <h3 class="dashboard-items" routerLink="flipkart">Flipkart</h3>
        <h3 class="dashboard-items" routerLink="store">store</h3>
        <h3 class="dashboard-items" routerLink="calculator">Calculator</h3>
        <h3 class="dashboard-items" routerLink="vechile">Vechile</h3>
        <h3 class="dashboard-items" routerLink="reactangle">Reactangle</h3>
        <h3 class="dashboard-items" routerLink="circle">Circle</h3>
        <h3 class="dashboard-items" routerLink="bmi">BMI</h3>

        <button (click)="logout()" class="Logout">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
