
<div>
<img src="/assets/image5.jpeg" alt="" width="100px" height="50px" *ngIf="rating <=5 && rating > 4">
<img src="/assets/image44.jpeg" alt="" width="100px" height="50px" *ngIf="rating <=4 && rating >3">
<img src="/assets/image33.jpeg" alt="" width="100px" height="50px" *ngIf="rating <=3 && rating > 2">
<img src="/assets/image22.jpeg" alt="" width="100px" height="50px" *ngIf="rating <=2 && rating > 1">
<img src="/assets/image1.jpeg" alt="" width="100px" height="50px" *ngIf="rating <=1 && rating > 0">
</div>

<textarea [maxLength]="maxcount" [(ngModel)]="text"></textarea>
<div>
    {{text.length}}/{{maxcount}}
</div>

